baseURL = "https://astraytlul.github.io/"
languageCode = "en-us"
title = "Astrayt's Blog"

[markup]
  [markup.highlight]
    style = "monokai"
    lineNos = true
    lineNumbersInTable = true
    noClasses = false

[markup.goldmark.renderer]
  unsafe = true

[markup.tableOfContents]
  startLevel = 2
  endLevel = 4
  ordered = false
